@import "seattletimes";
@import "gallery";

.inner {
  max-width: 960px;
  margin: auto;
  padding: 40px 0;
}

.hed {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.intro {
  max-width: 630px;
  margin: auto;
  padding-bottom: 30px;
}

.nav-map {
  max-width: 630px;
  margin: auto;
}

.stop-title {
  font-weight: bold;
  font-family: @df-sans;
  font-size: 22px;
  margin-top: 10px;
}

.desc {
  padding-left: 40px;
  margin-top: 100px;

  p:first-child {
    margin-top: 0;
  }
}

.cls-4 {
  cursor: pointer;

  &:hover {
    fill: @df-dark-gray;
  }
}

