@import "seattletimes";
@import "gallery";
@import "animation";

.inner {
  max-width: 960px;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.hed {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 20px;

  @media @mobile {
    font-size: 45px;
  }
}

.divider {
  border-top: 4px solid @df-middle-gray;
  width: 40%;
  margin: auto;
}

.subhed {
  text-align: center;
  font-size: 26px;
  margin-top: 15px;
}

.intro {
  max-width: 720px;
  margin: auto;
  padding-bottom: 30px;
}

.byline {
  text-align: center;
  font-size: 16px;
  font-family: @df-sans;
  margin-top: 20px;
  // font-style: italic;
}

.nav-map {
  max-width: 630px;
  margin: auto;
}

.stop-title {
  font-weight: bold;
  font-family: @df-sans;
  font-size: 22px;
  margin-top: 10px;
}

.desc {
  margin-top: 80px;

  p:first-child {
    margin-top: 0;
  }
  p, .stop-title {
    max-width: 720px;
    margin: 19px auto;
  }
}

.cls-4 {
  cursor: pointer;

  // &:hover {
  //   fill: @df-dark-gray;
  // }
}
.cls-3 {
  cursor: pointer;
}

.top-wrapper {
  text-align: right;
  border-bottom: 1px solid @df-light-gray;
  padding-bottom: 40px;
  cursor: pointer;
  font-family: @df-sans;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: black;
}

.top-button {
  display: inline-block;

  .fa {
    padding-right: 4px;
  }

  &:hover {
    color: @df-blue;
  }
}

.credits {
  font-family: @df-sans;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;

  div {
    padding-bottom: 4px;

    &.dateline {
      padding-bottom: 0;
      padding-top: 15px;
      font-size: 14px;
      font-style: italic;
    }
  }
}

.ad-bottom {
  margin-bottom: 40px;
  margin-top: 10px;
}

