@import "seattletimes";
@import "gallery";
@import "animation";

body {
  @media @tablet {
    font-size: 18px;
  }
  @media @mobile {
    font-size: 17px;
  }
}

.inner {
  max-width: 960px;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.hed {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 20px;

  @media @mobile {
    font-size: 40px;
  }
}

.icon {
  width: 45px;
  margin-right: 12px;
}
.label {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.divider {
  border-top: 4px solid @df-middle-gray;
  width: 40%;
  margin: auto;
}

.subhed {
  text-align: center;
  font-size: 26px;
  margin-top: 15px;

  @media @mobile {
    font-size: 20px;
  }
}

.intro {
  max-width: 720px;
  margin: auto;
  padding-bottom: 30px;
}

.byline {
  text-align: center;
  font-size: 16px;
  font-family: @df-sans;
  margin-top: 20px;
  // font-style: italic;
}

.nav-map {
  max-width: 630px;
  margin: auto;
}

.stop-title {
  font-weight: bold;
  font-family: @df-sans;
  font-size: 22px;
  margin-top: 10px;
}

.desc {
  margin-top: 60px;

  @media @mobile {
    margin-top: 40px;
  }

  p, .stop-title {
    max-width: 720px;
    margin: 19px auto;
  }
}

.cls-4 {
  cursor: pointer;

  // &:hover {
  //   fill: @df-dark-gray;
  // }
}
.cls-3 {
  cursor: pointer;
}

.top-wrapper {
  text-align: right;
  border-bottom: 1px solid @df-light-gray;
  padding-bottom: 40px;
  cursor: pointer;
  font-family: @df-sans;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  max-width: 720px;
  margin: auto;
  margin-top: 20px;
  color: black;
}

.top-button {
  display: inline-block;

  .arrow {
    color: @df-border-gray;
  }

  &:hover {
    .arrow {
      color: @df-blue;
    }
  }
}

.credits {
  font-family: @df-sans;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;

  @media @mobile {
    font-size: 15px;
  }

  div {
    padding-bottom: 4px;

    &.dateline {
      padding-bottom: 0;
      padding-top: 15px;
      font-size: 14px;
      font-style: italic;
    }
  }
}

.ad-bottom {
  margin-bottom: 40px;
  margin-top: 10px;
}

.dropcap {
  float: left;
  line-height: 1em;
  margin-right: 8px;
  font-weight: bold;
  font-size: 78px;

  @media @mobile {
    font-size: 70px;
  }
}

.flex-container {
  .display-flex();
  max-width: 720px;
  margin: auto;

  .left {
    .flex(2);

    padding-right: 20px;

    p:first-child {
      margin-top: 0;
    }
  }
  .right {
    .flex(1)
  }
}

aside.map {
  width: 25%;
  clear: both;
  float: right;
  margin-bottom: 12px;
  margin-left: 16px;

  @media @tablet {
    width: 33%;
  }

  @media @mobile {
    width: 45%;
  }
}