<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div id="top"></div>

    <%= t.include("./partials/_nav.html") %>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>

    <div class="splash animation">
      <img src="./assets/background.jpg" class="background">
      <div class="train sprite">
        <img src="./assets/train_car.png" class="car car-a">
        <img src="./assets/train_car.png" class="car car-b">
        <img src="./assets/train_car.png" class="car car-c">
      </div>
    </div>
    <div class="animation-credit">
      Gabriel Campanario / The Seattle Times
    </div>
      
    <div class="inner">


      <div class="hed">Transit tourism:<br>Explore Seattle by Link light rail</div>

      <div class="intro">
        <p class="byline">By Tyler Sipe and Lindsey Wasson

        <p>It’s urban, suburban and industrial. At just over 20 miles long, Sound Transit’s Central <a href="http://www.soundtransit.org/Rider-Guide/Link-light-rail">Link Light Rail</a> connects more than a dozen diverse communities with 16 stations in King County.
   
        <p>From the University of Washington on the north end, to SeaTac’s Angle Lake neighborhood on the south, users can explore and experience arts, culture, history and nature with a $6.50 all-day Sound Transit ticket.

        <p>See our <a href="http://www.seattletimes.com/category/seattle-newcomers-guide/">Seattle Newcomers Guide</a> to learn more about navigating area neighborhoods.
         
        <p><em>Click a station below to learn more about the surrounding neighborhood.</em>
      </div>

      <div class="nav-map"><%= t.include("./assets/lightRailStations.svg") %></div>

      <div class="desc selected" id="uw">
        <%= t.include("_galleryTemplate.html", {keyword: "uw"}) %>
        <%= markdown.uw %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="capitol">
        <%= t.include("_galleryTemplate.html", {keyword: "capitol"}) %>
        <%= markdown.capitol %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="westlake">
        <%= t.include("_galleryTemplate.html", {keyword: "westlake"}) %>
        <%= markdown.westlake %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="university">
        <%= t.include("_galleryTemplate.html", {keyword: "university"}) %>
        <%= markdown.university %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="pioneer">
        <%= t.include("_galleryTemplate.html", {keyword: "pioneer"}) %>
        <%= markdown.pioneer %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="international">
        <%= t.include("_galleryTemplate.html", {keyword: "international"}) %>
        <%= markdown.international %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="stadium">
        <%= t.include("_galleryTemplate.html", {keyword: "stadium"}) %>
        <%= markdown.stadium %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="sodo">
        <%= t.include("_galleryTemplate.html", {keyword: "sodo"}) %>
        <%= markdown.sodo %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="beacon">
        <%= t.include("_galleryTemplate.html", {keyword: "beacon"}) %>
        <%= markdown.beacon %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="baker">
        <%= t.include("_galleryTemplate.html", {keyword: "baker"}) %>
        <%= markdown.baker %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="columbia">
        <%= t.include("_galleryTemplate.html", {keyword: "columbia"}) %>
        <%= markdown.columbia %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="othello">
        <%= t.include("_galleryTemplate.html", {keyword: "othello"}) %>
        <%= markdown.othello %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="rainier">
        <%= t.include("_galleryTemplate.html", {keyword: "rainier"}) %>
        <%= markdown.rainier %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="tukwila">
        <%= t.include("_galleryTemplate.html", {keyword: "tukwila"}) %>
        <%= markdown.tukwila %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="seatac">
        <%= t.include("_galleryTemplate.html", {keyword: "seatac"}) %>
        <%= markdown.seatac %>
        <%= t.include("_topTemplate.html") %>
      </div>
      <div class="desc" id="angle">
        <%= t.include("_galleryTemplate.html", {keyword: "angle"}) %>
        <%= markdown.angle %>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="credits">
        <div>Reporting by Tyler Sipe and Lindsey Wasson</div>
        <div>Design by Frank Mina</div>
        <div>Web development by Audrey Carlsen</div>
      </div>

    </div>

    <%= t.include("./partials/_dontMiss.html", { data: [
      { link: "http://projects.seattletimes.com/2016/st3-guide/", image: "st3.png", category: "Transportation", head: "ST3: What you'd pay, what you'd get" },
      { link: "http://projects.seattletimes.com/2016/quizzes/seattle-neighborhoods-quiz/", image: "neighborhoods.jpg", category: "Quiz", head: "New to Seattle? Find your neighborhood." },
      { link: "http://www.seattletimes.com/life/food-drink/newcomers-guide-to-pho/", image: "pho.jpg", category: "Food & Drink", head: "A guide to pho — Seattle’s favorite soup-and-noodle dish" },
      { link: "http://projects.seattletimes.com/2016/bhutan-to-tukwila/", image: "bhutan.jpg", category: "Photo & Video", head: "30 Days: A refugee family's first month in the U.S." }
    ]}) %>

    <%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %>

    <%= t.include("./partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
