<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>

      <div class="intro">
        <p>It’s urban, suburban and industrial. At just over 20 miles long, Sound Transit’s Central Link Light Rail connects more than a dozen diverse communities with 16 stations in King County.
   
        <p>From the University of Washington on the north end, to SeaTac’s Angle Lake neighborhood on the south, users can explore and experience arts, culture, history and nature with a $6.50 all-day Sound Transit ticket.
         
        <p><em>Click a station below to learn more about the surrounding neighborhood.</em>
      </div>

      <div class="flex-container">
        <div class="left">
          <div class="dot" id="uw">UNIVERSITY OF WASHINGTON</div>
          <div class="dot" id="capitol">CAPITOL HILL</div>
          <div class="dot" id="westlake">WESTLAKE</div>
          <div class="dot" id="university">UNIVERSITY STREET</div>
          <div class="dot" id="pioneer">PIONEER SQUARE</div>
          <div class="dot" id="international">INTERNATIONAL DISTRICT/CHINATOWN</div>
          <div class="dot" id="stadium">STADIUM</div>
          <div class="dot" id="sodo">SODO</div>
          <div class="dot" id="beacon">BEACON HILL</div>
          <div class="dot" id="baker">MOUNT BAKER</div>
          <div class="dot" id="columbia">COLUMBIA CITY</div>
          <div class="dot" id="othello">OTHELLO</div>
          <div class="dot" id="rainier">RAINIER BEACH</div>
          <div class="dot" id="tukwila">Tukwila International Boulevard</div>
          <div class="dot" id="seatac">SEATAC/AIRPORT</div>
          <div class="dot" id="angle">ANGLE LAKE</div>
        </div>

        <div class="right">
          <div class="desc selected" id="uw"><%= markdown.uw %></div>
          <div class="desc" id="capitol"><%= markdown.capitol %></div>
          <div class="desc" id="westlake"><%= markdown.westlake %></div>
          <div class="desc" id="university"><%= markdown.university %></div>
          <div class="desc" id="pioneer"><%= markdown.pioneer %></div>
          <div class="desc" id="international"><%= markdown.international %></div>
          <div class="desc" id="stadium"><%= markdown.stadium %></div>
          <div class="desc" id="sodo"><%= markdown.sodo %></div>
          <div class="desc" id="beacon"><%= markdown.beacon %></div>
          <div class="desc" id="baker"><%= markdown.baker %></div>
          <div class="desc" id="columbia"><%= markdown.columbia %></div>
          <div class="desc" id="othello"><%= markdown.othello %></div>
          <div class="desc" id="rainier"><%= markdown.rainier %></div>
          <div class="desc" id="tukwila"><%= markdown.tukwila %></div>
          <div class="desc" id="seatac"><%= markdown.seatac %></div>
          <div class="desc" id="angle"><%= markdown.angle %></div>
        </div>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
