<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("./partials/_nav.html") %>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>

    <div class="splash animation">
      <img src="./assets/background.jpg" class="background">
      <div class="train sprite">
        <img src="./assets/train_car.png" class="car car-a">
        <img src="./assets/train_car.png" class="car car-b">
        <img src="./assets/train_car.png" class="car car-c">
      </div>
    </div>
    <div class="animation-credit">
      Gabriel Campanario / The Seattle Times
    </div>
      
    <div class="inner">


      <div class="hed">TRANSIT TOURISM</div>
      <div class="divider"></div>
      <div class="subhed">Explore Seattle by Link light rail</div>

      <div class="intro">
        <p class="byline">By Tyler Sipe and Lindsey Wasson

        <p>It’s urban, suburban and industrial. At just over 20 miles long, Sound Transit’s <a href="http://www.soundtransit.org/Rider-Guide/Link-light-rail">Link light rail</a> connects more than a dozen diverse communities with 16 stations in King County.
   
        <p>From the University of Washington on the north end, to SeaTac’s Angle Lake neighborhood on the south, riders can explore and experience arts, culture, history and nature with a $6.50 all-day Sound Transit ticket.

        <p>See our <a href="http://www.seattletimes.com/category/seattle-newcomers-guide/">Seattle Newcomers Guide</a> to learn more about navigating area neighborhoods.
         
        <p>Click a station below to learn more about the surrounding neighborhood.
      </div>

    <div id="top"></div>

      <div class="nav-map"><%= t.include("./assets/lightRailStations.svg") %></div>

      <div class="desc selected" id="uw">
        
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon1.svg"><div class="label">University of Washington Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "uw"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.uw %></div>
          <div class="right"><img src="./assets/maps/UWStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="capitol">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon2.svg"><div class="label">Capitol Hill Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "capitol"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.capitol %></div>
          <div class="right"><img src="./assets/maps/CapitolHillStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="westlake">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon3.svg"><div class="label">Westlake Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "westlake"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.westlake %></div>
          <div class="right"><img src="./assets/maps/WestlakeStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="university">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon4.svg"><div class="label">University Street Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "university"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.university %></div>
          <div class="right"><img src="./assets/maps/UniversityStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="pioneer">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon5.svg"><div class="label">Pioneer Square Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "pioneer"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.pioneer %></div>
          <div class="right"><img src="./assets/maps/PioneerStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="international">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon6.svg"><div class="label">International District/Chinatown Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "international"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.international %></div>
          <div class="right"><img src="./assets/maps/InternationalStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="stadium">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon7.svg"><div class="label">Stadium Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "stadium"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.stadium %></div>
          <div class="right"><img src="./assets/maps/StadiumStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="sodo">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon8.svg"><div class="label">SoDo Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "sodo"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.sodo %></div>
          <div class="right"><img src="./assets/maps/SodoStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="beacon">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon9.svg"><div class="label">Beacon Hill Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "beacon"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.beacon %></div>
          <div class="right"><img src="./assets/maps/BeaconHillStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="baker">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon10.svg"><div class="label">Mount Baker Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "baker"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.baker %></div>
          <div class="right"><img src="./assets/maps/MountbakerStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="columbia">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon11.svg"><div class="label">Columbia City Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "columbia"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.columbia %></div>
          <div class="right"><img src="./assets/maps/ColumbiaStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="othello">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon12.svg"><div class="label">Othello Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "othello"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.othello %></div>
          <div class="right"><img src="./assets/maps/OthelloStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="rainier">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon13.svg"><div class="label">Rainier Beach Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "rainier"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.rainier %></div>
          <div class="right"><img src="./assets/maps/RainierStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="tukwila">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon14.svg"><div class="label">Tukwila International Airport Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "tukwila"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.tukwila %></div>
          <div class="right"><img src="./assets/maps/TukwilaStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="seatac">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon15.svg"><div class="label">SeaTac/Airport Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "seatac"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.seatac %></div>
          <div class="right"><img src="./assets/maps/AirportStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="desc" id="angle">
        <div class="stop-title"><img class="icon" src="./assets/LightRailIcons/stationIcon16.svg"><div class="label">Angle Lake Station</div></div>
        <%= t.include("_galleryTemplate.html", {keyword: "angle"}) %>
        <div class="flex-container">
          <div class="left"><%= markdown.angle %></div>
          <div class="right"><img src="./assets/maps/AngleLakeStation-c.jpg"></div>
        </div>
        <%= t.include("_topTemplate.html") %>
      </div>

      <div class="credits">
        <div>Reporting by <strong>Tyler Sipe</strong> and <strong>Lindsey Wasson</strong></div>
        <div>Design by <strong>Frank Mina</strong></div>
        <div>Web development by <strong>Audrey Carlsen</strong></div>
        <div class="dateline">Originally published December 12, 2016.</div>
      </div>

    </div>

    <%= t.include("./partials/_dontMiss.html", { data: [
      { link: "http://www.seattletimes.com/seattle-news/transportation/check-out-uws-new-light-rail-station-and-how-it-could-transform-seattle/", image: "station.jpg", category: "Transportation", head: "Check out UW’s new light-rail station — and how it could transform Seattle" },
      { link: "http://projects.seattletimes.com/2016/st3-guide/", image: "st3.png", category: "Transportation", head: "ST3: What you'd pay, what you'd get" },
      { link: "http://projects.seattletimes.com/2016/quizzes/seattle-neighborhoods-quiz/", image: "neighborhoods.jpg", category: "Quiz", head: "New to Seattle? Find your neighborhood." },
      { link: "http://projects.seattletimes.com/2016/bus-sketches/", image: "bus.jpg", category: "Seattle Sketcher", head: "The bus riders of Seattle: their loves, frustrations — and hopes" }
      
      
    ]}) %>

    <div class="ad-bottom"><%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %></div>

    <%= t.include("./partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
